input[type='range'] {
	-webkit-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 3px #333;
	height: 8px;
}
input[type='range']:focus {
	outline: none !important;
}
input[type='range']::-moz-range-track {
	-moz-appearance: none;
	border-radius: 5px;
	box-shadow: inset 0 0 3px #333;
	height: 8px;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none !important;
	border-radius: 18px;
	background-color: #FFF;
	box-shadow:inset 0 0 7px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height: 18px;
	width: 18px;
}
input[type='range']::-moz-range-thumb {
	-moz-appearance: none;
	border-radius: 18px;
	background-color: #FFF;
	box-shadow:inset 0 0 7px rgba(000,000,000,0.5);
	border: 1px solid #999;
	height:18;
	width: 18px;
}