.choose-scheme-tip {
	display: none;
}

.color-schema {
	margin-top: 20px;
	text-align: center;
	position: relative;
}

.color-schema-box {
	vertical-align: top;
	padding: 10px;
	display: inline-block;
	width: 250px;
}

.colorpicker-box {
	height: 250px;
	background-color: red;
}

.color-settings-box {
}

.navbar a {
	font-size: 18px;
	font-weight: 400;
}

.navbar .navbar-collapse {
	text-align: center;
}

.result-color-box {
	background-color: #FF016B;
	width: 40px;
	height: 40px;
	margin: auto;
	border: 1px solid gray;
	border-radius: 8px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.workspace {
	width: 100%;
	position: relative;
	overflow: auto;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}

.alert {
	width: 165px;
	height: 30px;
	left: 454px;
	top: 0;
	padding: 5px;
	position: absolute;
	text-align: center;
	margin: auto;
	left: 0;
	right: 0;
}

input[type="range"] {
	margin-top: 15px;
}

.glyphicon-exclamation-sign {
	color: #ED864E;
}

body {
	background-image: url(../images/background.png);
}

/* Desktop */
@media only screen and (min-width : 768px) {
	.container {
		max-width: 900px;
	}

	.navbar, .workspace {
		box-shadow: 0 0 10px #e7e7e7; 
	}

	.workspace {
		margin-top: 20px;
		border-radius: 4px;
		border: 1px solid #ddd;
	}

	body {
		padding-top: 20px;
	}
}

/* Smartphones (portrait and landscape) */
@media only screen and (max-width : 767px) {
	.navbar {
		top: 0;
		margin-bottom: 0;
		width: 100%;
	}

	.global-container {
		padding-left: 0;
		padding-right: 0;
	}
	.choose-scheme-tip {
		display: inline;
	}

	.navbar-collapse {
		position: absolute;
		width: 100%;
		background-color: #f8f8f8;
		border-bottom: 1px solid #e7e7e7;
		z-index: 9999;
	}

	.workspace {
		border-bottom: 1px solid #e7e7e7;
		box-shadow: 0 4px 2px -2px #e7e7e7;
	}

}
